{% block vars %}{% endblock vars %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/assets/css/global.css">
    <script type="module"
        src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.7/bundles/datastar.js"></script>
    <script type="module" src="/assets/js/customElements.js"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <div id="root">{% block body %}{% endblock body %}</div>
</body>

</html>