{% extends "layouts/base.j2" %}

{% import "macros/color_schemes.j2" as color_schemes %}

{% block head %}
<title>{{ t(locale=locale, key="home") }}</title>
{% endblock head %}

{% block body %}
<p style="float: right;">{{ color_schemes::switcher() }}</p>
<h1>{{ t(locale=locale, key="home") }}</h1>
<p><a href="/app">{{ t(locale=locale, key="app") }}</a></p>
{% endblock body %}