{% extends "layouts/base.j2" %}

{% block head %}
<title>{{ t(locale=locale, key="not_found") }}</title>
{% endblock head %}

{% block body %}
<h1>{{ t(locale=locale, key="not_found") }}</h1>
{% endblock body %}
