{% extends "layouts/base.j2" %}

{% block head %}
<title>{{ t(locale=locale, key="service_unavailable") }}</title>
{% endblock head %}

{% block body %}
<h1>{{ t(locale=locale, key="service_unavailable") }}</h1>
<p>{{ t(locale=locale, key="send_us_this_identifier") }}</p>
<p>{{ uuid }}</p>
{% endblock body %}