{% extends "layouts/base.j2" %}

{% block head %}
<title>{{ t(locale=locale, key="app") }}</title>
{% endblock head %}

{% block body %}
<h1>{{ t(locale=locale, key="app") }}</h1>
<p>{{ t(locale=locale, key="logged_in_as") }} {{ user.name }}</p>
{% endblock body %}