{% macro form() %}
{% if auth_type == "login" %}
{% set other = "signup" %}
{% else %}
{% set other = "login" %}
{% endif %}
{% if redirect_to %}
{% set redirect_to_query = "?redirect_to=" ~ redirect_to %}
{% else %}
{% set redirect_to_query = "" %}
{% endif %}

<ul data-ref="errors">
    {% for error in errors %}
    <li>{{ t(locale=locale, key=error) }}</li>
    {% endfor %}
</ul>
<p data-cloak data-show="$fetching">...</p>
<form method="post" data-on-submit="$errors.remove(); @post(window.location.href, {contentType: 'form'})"
      data-indicator-fetching>
    <input type="text" name="username" value="{{ username }}" required>
    <input type="password" name="password" required>
    <button type="submit">Auth</button>
</form>
<a href="/{{ other }}{{ redirect_to_query }}">{{ t(locale=locale, key=other) }}</a>
<a href="/">{{ t(locale=locale, key="home") }}</a>
{% endmacro %}