@layer reset {
    html {
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
        margin-top: 1.5em;
        margin-bottom: 1em;
        line-height: 1.125;
    }

    body {
        display: grid;
        margin: 0;
        min-height: 100svh;
    }

    img {
        max-width: 100%;
    }

    hr {
        border: none;
        border-bottom: 1px solid;
    }

    figure {
        text-align: center;
    }

    figcaption {
        text-align: center;
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
    }

    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }
}